@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Roboto:wght@100;200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    padding: o;
    margin: 0;
}

:root{
    --background-white:rgb(255, 255, 255);
    --primary: #2533f5 ;
    --font-color-white:#ffffff;
}


body {
 width: 100vw;
 min-height: 100vh;
 display: flex;
 align-items: center;

 overflow-y: auto;
 overflow-x: hidden;
 justify-content: center;
}
      
.body{
     width: 100%;
     max-width: 1366px;
     display: flex;
     flex-direction: column;
    }
.body .head{
    padding: 1vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: url("../image/Section.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height:110vh;
    position: relative;
    background-repeat: no-repeat;
    
}
 
.body .head nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body .head nav .logo{
    color: #fff;
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    text-transform: capitalize;
}
.logs img{
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    object-fit: cover;
    object-position: center;
}
.body .head .header{
    width: calc(100% - 10vw);
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    z-index: 1;
}

.body .header .write{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body .header .write{
    color: rgba(255, 255, 255, 0.90);
    font-family: inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 154.545% */
}
.body .header .write p:first-child{
    color: #00F7FF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
}
.body  .header .write h1{
    color: #FFF;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px; /* 112.5% */
}
.body  .header .write a{
    display: flex;
    width: 231.86px;
    height: 60px;
    padding: 21px 47.695px 18px 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(91deg, #FF8359 0%, #FFDF40 100%);
    box-shadow: 0px 19px 56px 0px rgba(0, 0, 0, 0.20);
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 222.222% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.body  .header img{
    width: 500px;
    height: 500px;
}

.body .head img.apsolut{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}


.how_it_works{
    width: 100%;
    height: 451px;
    flex-shrink: 0; 
    padding: 10vw 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.how_it_works h1{
    color: #171D1C;
    text-align: center;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 119.048% */
    text-transform: capitalize;
}
.how_it_works p{
    color: #52606D;
    text-align: center;
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.how_it_works .wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 5vw;
}
.how_it_works .wrap div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.how_it_works .wrap div h2{
    color: #171D1C;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 135.714% */
}
.how_it_works .wrap div h3{
    color: #52606D;
    text-align: center;
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}



.featured_items{
    width: 100%;
    padding: 10vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.featured_items h1{
    color: #171D1C;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 119.048% */
}
.featured_items p{
    color: #52606D;
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.items{
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.items .item{
    width: 380px;
    height: 500px;
    flex-shrink: 0; 
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 9px 20px 0px rgba(22, 26, 57, 0.36);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.items .item img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.items .item .dit{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.items .item .dit h2{
    color: #171D1C;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */ 
}

.items .item .dit .dit{
    display: flex;
    margin-left: 10%;
    gap: 10px;
    flex-direction: row;
}

.items .item .dit .dit .svg{
    width: 36px;
    height: 37px;
}

.items .item .dit .dit span{
   display: flex;
   height: 100%;
   justify-content: space-between;
   flex-direction: column;
}
.items .item .dit .dit span h1{
    color: #43B055;
    font-family: inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.items .item .dit .dit span p{
    color: #171D1C;
    font-family: inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
}
.items .item button{
    align-self: center;
    display: flex;
    width: 230px;
    height: 48px;
    padding: 14px 62.489px 13px 62.84px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    border-radius: 30px;
    background: linear-gradient(90deg, #3DA9F5 0%, #683DF5 100%);
    box-shadow: -1.04px 4.891px 20px 0px rgba(69, 49, 183, 0.50);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    text-transform: capitalize;
    margin-bottom: 5%;
}

.back{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: auto;
    z-index: -1;
}


.trending_item{
    display: flex;
    flex-direction: column;
    padding: 10vw 5vw;
    gap: 20px;
}

.trending_item h1{
    color: #171D1C;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 119.048% */
}
.trending_item p{
    color: #52606D;
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.trending_item .wrap{
    display: flex;
    margin-top: 10vw;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
}

.trending_item .wrap .item{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    background: #FFF;
    gap: 10px;
    box-shadow: 0px 9px 20px 0px rgba(22, 26, 57, 0.36);
}

.trending_item .wrap .item img{
    width: 320px;
    height: 249px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.trending_item .wrap .item .dit{
    width: 245px;
    height: 269px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background: rgba(214, 213, 243, 0.30);
}
.trending_item .wrap .item .dit h1{
    color: #171D1C;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
    text-transform: capitalize;
}
.trending_item .wrap .item .dit h2{
    display: flex;
    gap: 5px;
    color: #171D1C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 28px; /* 116.667% */
}

.trending_item .wrap .item .dit h3{
    color: #171D1C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 116.667% */ 
}
.trending_item .wrap .item .dit h3 b{
    color: #717185;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
}
.trending_item .wrap .item .dit button{
    display: flex;
    width: 152.72px;
    height: 48px;
    padding: 15px 29.657px 14px 30px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(90deg, #3DA9F5 0%, #683DF5 100%);
    box-shadow: -1.04px 4.891px 20px 0px rgba(69, 49, 183, 0.50);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    text-transform: capitalize;
}



.register_free{
    display: flex;
    padding: 80px;
    align-self: center;
    width: calc(100% - 10vw);
    border-radius: 20px;
    background: url(../image/Section.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register_free span{
   display: flex;
   flex-direction: column;
   grid-area: 20px; 
}

.register_free span h1{
    color: #FFF;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
    text-transform: capitalize;
}
.register_free span p{
    color: rgba(255, 255, 255, 0.90);
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.register_free a{
    display: flex;
    width: 141.95px;
    height: 48px;
    padding: 14px 29.674px 13px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #FFF;
    box-shadow: -1.04px 4.891px 20px 0px rgba(69, 49, 183, 0.50);
    color: #3F22B3;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    text-transform: uppercase;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    padding: 10vw 5vw 2vw 5vw;
    position: relative;
}

footer .logo{
    color: #fff;
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    text-transform: capitalize;
}
footer .card{
    display: flex;
    gap: 20px;
}
footer .card img{
    height: 30px;
    width: auto;
}
footer p{
    color: rgba(255, 255, 255, 0.90);
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.p_ab{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    z-index: -1;
}



@media screen and (max-width: 1000px) {
    .body .head{
       
        height: 70vh;
    }
     
    .body .head nav{
      
    }
    
    .body .head nav .logo{
       
    }
    
    .body .head .header{
       /* margin-top: 100px; */
    }
    
    .body .head .header .write{
      gap: 10px;
    }
    
    .body .head .header .write p{
       font-size: 14px;
       line-height: 105%;
    }
    .body .header .write p:first-child{
       font-size: 16px;
       line-height: 105%;
    }
    .body.header .write h1{
       font-size: 40px;
       line-height: 105%;
    }
    .body .header .write a{
        
    }
    .body.header img{
        width: 300px;
        height: 300px;
    }
    
    .body .head img.apsolut{
     
    }
    
    
    .how_it_works{
        margin-top: 50px;
        gap: 5px;
    }
    
    .how_it_works h1{
         font-size: 30px;
         line-height: 105%;
    }
    .how_it_works p{
         font-size: 12px;

    }
    .how_it_works .wrap{
    
    }
    .how_it_works .wrap div{
      
    }
    .how_it_works .wrap div h2{
    
    }
    .how_it_works .wrap div h3{
    
   
    }
    
    
    
    .featured_items{
        gap: 10px;
        margin-top: 50px;
    }
    
    .featured_items h1{
        font-size: 30px;
        line-height: 105%;
    }
    .featured_items p{
        font-size: 14px;
        line-height: 105%;
        
    }
    
    .items{
        margin-top: 10px;
    }
    
    .items .item{
        width: 320px;
    }
    .items .item img{
      
    }
    .items .item .dit{
       
    }
    .items .item .dit h2{
       
    }
    
    .items .item .dit .dit{
      
    }
    
    .items .item .dit .dit .svg{
     
    }
    
    .items .item .dit .dit span{
      
    }
    .items .item .dit .dit span h1{
        
    }
    .items .item .dit .dit span p{
      
    }
    .items .item button{
  
    }
    
    .back{
   
    }
    
    
    .trending_item{
      gap: 10px;
      margin-top: 50px;
    }
    
    .trending_item h1{
        font-size: 30px;
        line-height: 105%;
    }
    .trending_item p{
        font-size: 14px;
        line-height: 105%;
    }
    
    .trending_item .wrap{
       margin-top: 10px;
    }
    
    .trending_item .wrap .item{
         width: 100%;
         justify-content: space-between;
    }
    
    .trending_item .wrap .item img{
      
    }
    
    .trending_item .wrap .item .dit{
      
    }
    .trending_item .wrap .item .dit h1{
      
    }
    .trending_item .wrap .item .dit h2{
      
    }
    
    .trending_item .wrap .item .dit h3{
     
    }
    .trending_item .wrap .item .dit h3 b{
      
    }
    .trending_item .wrap .item .dit button{
      
    }
    
    
    
    .register_free{
       
    }
    
    .register_free span{
      
    }
    
    .register_free span h1{
       
    }
    .register_free span p{
      
    }
    .register_free a{
       
    }
    
    footer{
      
    }
    
    footer .logo{
       
    }
    footer .card{
        
    }
    
    footer p{
       
    }
    
    .p_ab{
       
    }
    
    
}
@media screen and (max-width: 700px) {
    .body .head{
       
        height: calc(120vh);
    }
     
    .body .head nav{
      
    }
    
    .body .head nav .logo{
       
    }
    
    .body .head .header{
       margin-top: 100px;
       flex-direction: column;
    }
    
    .body  .header .write{
      gap: 10px;
    }
    
    .body  .header .write p{
       font-size: 14px;
       line-height: 105%;
    }
    .body  .header .write p:first-child{
       font-size: 16px;
       line-height: 105%;
    }
    .body  .header .write h1{
       font-size: 40px;
       line-height: 105%;
    }
    .body  .header .write a{
        
    }
    .body  .header img{
        width: 300px;
        height: 300px;
    }
    
    .body .head img.apsolut{
     
    }
    
    
    .how_it_works{
        margin-top: 50px;
        gap: 5px;
        height: fit-content;
    }
    
    .how_it_works h1{
         font-size: 30px;
         line-height: 105%;
    }
    .how_it_works p{
         font-size: 12px;

    }
    .how_it_works .wrap{
         flex-direction: column;
    }
    .how_it_works .wrap div{
      
    }
    .how_it_works .wrap div h2{
    
    }
    .how_it_works .wrap div h3{
    
   
    }
    
    
    
    .featured_items{
        gap: 5px;
    }
    
    .featured_items h1{
        
    }
    .featured_items p{
        
        
    }
    
    .items{
        margin-top: 10px;
    }
    
    .items .item{
        width: 100%;
    }
    .items .item img{
      
    }
    .items .item .dit{
       
    }
    .items .item .dit h2{
       
    }
    
    .items .item .dit .dit{
      
    }
    
    .items .item .dit .dit .svg{
     
    }
    
    .items .item .dit .dit span{
      
    }
    .items .item .dit .dit span h1{
        
    }
    .items .item .dit .dit span p{
      
    }
    .items .item button{
  
    }
    
    .back{
   
    }
    
    
    .trending_item{
    
    }
    
    .trending_item h1{
       
    }
    .trending_item p{
      
    }
    
    .trending_item .wrap{
     
    }
    
    .trending_item .wrap .item{
         width: 100%;
         justify-content: space-between;
         flex-direction: column;

    }
    
    .trending_item .wrap .item img{
        width: 100%;
    }
    
    .trending_item .wrap .item .dit{
        width: 100%;
    }
    .trending_item .wrap .item .dit h1{
      
    }
    .trending_item .wrap .item .dit h2{
      
    }
    
    .trending_item .wrap .item .dit h3{
     
    }
    .trending_item .wrap .item .dit h3 b{
      
    }
    .trending_item .wrap .item .dit button{
      
    }
    
    
    
    .register_free{
       padding: 10%;
       flex-direction: column;
       gap: 100px;
       align-items: flex-start;
    }
    
    .register_free span{
      
    }
    
    .register_free span h1{
       
    }
    .register_free span p{
      
    }
    .register_free a{
       
    }
    
    footer{
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    
    footer .logo{
         align-self: center;
    }
    footer .card{
        align-self: center;
    }
    
    footer p{
       align-self: center;
    }
    
    .p_ab{
       
    }
    
    
}


.hid{
    display: none;
}



.loading_data{
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: 1100000;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .loading_data_remove{
    display: none;
 }

 .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: var(--primary);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }