@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Inter:wght@100;200;300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    padding: o;
    margin: 0;
}

:root{
 --background-white:#fff;
 --primary:#8C111B;
}

body{
    display: flex;
    /* max-width: 1000px; */
    flex-wrap: wrap;
    width: 100vw;
    align-content: center;
    justify-content: center;
    background-color: var(--background-white);
    min-height: 100vh;
}
 .slideshow{
    width: fit-content;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    display: none;
}
 .slideshow .content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
}
 .slideshow .write{
    display: flex;
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slideshow .write span{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: fit-content;
}
.slideshow .write span:first-child p{
    color: #000;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.slideshow .write span:first-child h3{
    color: #000;
    font-family: Bellota;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.slideshow .write span:first-child p:last-child{
    margin-top: 15px;
}
.slideshow .write span button{
    display: flex;
    width: 300px;
    height: 45px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--primary, #8C111B);
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 30px;
    background: #8C111B;
}
.slideshow .write span:last-child p{
    margin: 5px;
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.slideshow .write span:last-child p a{
    cursor: pointer;
    color: #11B719;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.slideshow .in{
    display: flex;
    padding: 0px 21px;
    height: fit-content;
    align-items: flex-end;
    gap: 18px;
}
.slideshow .in div{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #D9D9D9;
}
.slideshow .in .active{
    background: var(--primary);
}

.slideshow .content .cover_img{
    width: 400px;
    height: auto;
    flex-shrink: 0;
}


.slideshow h5{
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    width: 300px;
    height: 72px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.slideshow .write_shot{
    height: 300px;
}


.slideshow_show {
    display: flex;
    animation: come_in 2s forwards;
}
@keyframes come_in {
    from{
        transform: translateX(100%);  
    }
    to{
        transform: translateX(0%);
        display: flex;  
    }
}
.slideshow_hide{
    animation: go_out 2s forwards;
}
@keyframes go_out {
    from{
        transform: translateX(0%);  
    }
    to{
        transform: translateX(-100%);
        display: none;  
    }
}
.cover{
    width: fit-content;
    overflow-x: hidden;
}









.form{
    display: flex;
}
.sign_up{
   width: 300px;
   height: fit-content;
   display: flex;
   gap: 10px;
   flex-direction: column;
   padding: 5px; 
}
.sign_up h2{
    color: #000;
    font-family: Bellota;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.sign_up h1{
    color: var(--primary, #8C111B);
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.sign_up label{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
}
.sign_up label input{
    padding: 10px;
    width: 100%;
    height: 32px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1.25px solid #D9E3E8;
    background: #FFF;
}
.sign_up label input::placeholder{
    color: #A6A6A6;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
}

.sign_up label:nth-child(7) input{
    position: relative;
    overflow: hidden;
    overflow: hidden;
}

.sign_up label:nth-child(7) input::before{
    width: 100px;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;
    content: "Image Name :";
    color: #A6A6A6;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
}

form span{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
form button{
    width: 290px;
    height: 45px;
    align-self: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 30px;
    background: var(--primary, #8C111B);
}

form span p{
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
form span p a{
    color: #2F92A5;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
.slideshow .content .cover_for_logs{
    height: 100%;
    width: auto;
    max-height: 600px;
}





@media screen and (max-width : 800px) {
    .slideshow{
        gap: 15px;
        height: fit-content;
    }
    .slideshow .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 300px;
        margin-top: 20px;
        height: 100%;
    } 
    .slideshow .content .cover_img{
        width: 300px;
        height: auto;
        flex-shrink: 0;
    }
    .slideshow .write{
        display: flex;
        width: 300px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .slideshow .write span button{
        display: flex;
        width: 260px;
        height: 45px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border: 1px solid var(--primary, #8C111B);
        color: #FFF;
        text-align: center;
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        border-radius: 30px;
        background: #8C111B;
    }
    .slideshow .write_shot{
        height: fit-content;
        gap: 50px;
    }
    
    .slideshow .in{
        display: flex;
        padding: 0px 21px;
        height: fit-content;
        align-items: flex-end;
        gap: 5px;
    }
    .slideshow .in div{
        width: 15px;
        height: 15px;
        border-radius: 100px;
        background: #D9D9D9;
    }
    .cover_for_logs{
        display: none;
    }
    .sign_up{
        max-width: 320px;
        width: 100%;
    }
}

