@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Inter:wght@100;200;300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    padding: o;
    margin: 0;
}

:root{
 --background-white:rgb(255, 255, 255);
 --primary:#8C111B;
 --font-color-white:#ffffff;
}

::-webkit-scrollbar{
    width: 4px;
    height: 4px;
   }
   ::-webkit-scrollbar-thumb{
    background-color: #7B7B7B;
    border-radius: 1000px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background-color: var(--primary);
   }
body{
    background-color: var(--background-white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_nav{
    width: 300px;
    height: 100vh;
    display: flex;
    background-color:var(--background-white);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    gap: 10px;
    align-items: center;
    justify-content: left;
    padding: 10px;
}
.profile img{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: top;
    border-radius: 400px;    
}
.profile span{
    width: fit-content;
    display:flex;
    flex-direction: column;
}
.profile span h1{
    color:var(--font-color-white) ;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to show */
    -webkit-box-orient: vertical;
    text-transform: capitalize;
}
.profile span p{
    color: #BE7E7E;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to show */
    -webkit-box-orient: vertical;
}
.main_nav .link_nav{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.main_nav .link_nav a{
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
.main_nav .link_nav a li{
    width: 100%;
    padding: 10px;
    height: 100%;
    display: flex;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #888;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    text-transform: capitalize;
}
/* Set the default color for the SVG when the container is not active */
.link_nav li svg {
    fill: #888;
    stroke: #888; /* Replace with the color you desire */
}

/* Change the color of the SVG when the container is active */
.main_nav .link_nav li.active svg {
    fill:  var(--primary); /* Color for active state */
    stroke:  var(--primary);
}

/* Set background color for the active state */
.main_nav .link_nav a .active {
    color:  var(--primary);
}


.main_nav .link_nav .active svg{
    fill: #FFF;
    stroke: #FFF;
}
.sub_nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 10px;
    position: relative;
}
.sub_nav a{
    width: 100%;
    height: 35px;
}
.sub_nav  li{
    width: 100%;
    height: 35px;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px;
    color: #7B7B7B;
    font-family: Nunito;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}
.sub_nav  li img{
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    justify-content: space-between;
    overflow-x: hidden;
}
.body .top_bar{
    width: 100%;
    padding: 10px 1vw  10px 3vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body .top_bar h1{
    color: #151C28;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.body .top_bar img{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}


.scroll_able_not{
    position: absolute;
    background-color: #fff;
    width: 300px;
    right: 1vw;
    top: 50px;
    height: calc(99vh - 50px);
    z-index: 2;
    padding: 3px;
    padding-right: 1px;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0px 9px 20px 0px rgba(22, 26, 57, 0.36);
    transform: translateX(200%);
    transition: 1s ease-in;
}

.scroll_able_not_see{
    transform: translateX(0%);
}

.scroll_able_not section{
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scroll_able_not section div{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 3px;
    flex-direction: column;
    background-color: #ededed;
    border: 1px solid #969696;
    border-left: 5px solid #969696;
    padding: 5px;
}

.scroll_able_not section div P{
    color: #888;
    font-family: Nunito;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    align-self: flex-end;
    text-transform: capitalize;
}
.scroll_able_not section div h5{
    color: #000000;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    text-transform: capitalize;
}
.scroll_able_not section div h2{
    color: #888;
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    text-transform: capitalize;
}



.content_body{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2vw 1vw  1vw 3vw;
    overflow-y: auto;
}
.content_body .carosell{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    justify-content: space-between;
}
.content_body .carosell .quick_nav{
    width: fit-content;
    display:flex;
    flex-direction: row;
    gap: 10px;
    transition: .5s ease-in;
    position: relative;

}
.content_body .carosell .quick_nav span{
    color:#A7A7A7;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    line-height: normal;
    text-transform: capitalize;
}
.content_body .carosell .active span:first-child{
    color: var(--primary);
}
.content_body .carosell  hr{
    transition: .5s ease-in;
}
.content_body .carosell .active hr{
    position: absolute;
    width: 35%;
    height: 2.5px;
    border-radius: 100px;
    background-color: var(--primary);
    bottom: -5px;
    left: 3.5%;

}

.content_body .carosell .explore span:nth-child(2){
    color: var(--primary);
}

.content_body .carosell .explore hr{
    position: absolute;
    width: 40%;
    height: 2.5px;
    border-radius: 100px;
    background-color: var(--primary);
    bottom: -5px;
    right: 5%;
}
.carosell_cotainer,
.nav_img_icon{
    overflow: hidden;
    width: 100%;
    min-height: 320px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_img_icon{
    position: relative;
}
.nav_img_icon .img{
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;

}
.nav_img_icon{

}
.nav_img_icon .img:first-child{
    left: 10px;
    z-index: 2;
}
.nav_img_icon .img.store,
.nav_img_icon .img:last-child{
    right: 10px;
}
.nav_img_icon .img svg{
    fill: #A7A7A7;
    z-index: 1;
    pointer-events:none;
    transition: .5s ease-in;
}
.nav_img_icon .img:hover svg{
    fill: var(--primary);
}
.carosell_items_cont{
    display: flex;
    gap: 20px;
    align-self: center;
    justify-self: center;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 320px;
}


.carosell_items_cont .item{
    width: 350px;
    height: 320px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    border: 2px solid var(--primary, var(--primary));
}



.carosell_items_cont .item .top_cont{
    display: flex;
    width: fit-content;
    gap: 10px;
}
.carosell_items_cont .item .top_cont img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.carosell_items_cont .item .top_cont .dit{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.carosell_items_cont .item .top_cont .dit h1{
    color: #000;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.carosell_items_cont .item .top_cont .dit h2{
    color: #dbdada;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: 15px;
}
.carosell_items_cont .item .top_cont .dit h2 svg{
   width: 16px;
   height: 16px;
}

.carosell_items_cont .item p{
    color: #bbb9b9;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    -webkit-box-orient: vertical;
    align-items: center;

    /* flex-direction: column; */
}
.carosell_items_cont .item h3{
    color:var(--primary);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.carosell_items_cont .item h3 b{
    color:#bbb9b9;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.carosell_items_cont .item span{
    display: flex;
    gap: 15px;
    margin-top: 5px;
}
.carosell_items_cont .item span h5{
    width: 60px;
    height: 35px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color:#ffffff;
    background-color: red;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to show */
    -webkit-box-orient: vertical;
}
.carosell_items_cont .item span h5.my_price{
    background-color: #01FF01;
}
.carosell_items_cont .item button{
    color:var(--primary);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    background-color: transparent;
    position: relative;
    width:40%;
    height: 40px;
    cursor: pointer;
    border-radius:5px ;
    transition: .5s ease-in-out all;
}

.carosell_items_cont .item button::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--primary);
    width: 2.5px;
    height: 100%;
    transition: .3s ease-in-out all;
}



.auction{
    height: fit-content;
    min-height: 516px;
}
.auction_house{
    display: flex;
    gap: 20px;
    align-self: center;
    justify-self: center;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;

}
.auction_items{
    width: 320px;
    height: 530px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.auction_items img{
    width: 100%;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
}

.auction_items .item_dits{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}
.auction_items .item_dits h1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    text-transform: uppercase;
}
.auction_items .item_dits h1 img{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.auction_items .item_dits h6{
    color:var(--font-color-white) ;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
    text-transform: uppercase;
    width: 95px;
    height: 18px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #38C173;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.auction_items .item_dits span{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
.auction_items .item_dits span span {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.auction_items .item_dits span span img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
.auction_items .item_dits span span b{
    overflow: hidden;
    color: #7B7B7B;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    text-transform: uppercase;
}
.auction_items .item_dits span h5{
    color: #7B7B7B;
    text-align: center;
    font-family: Nunito;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 12px */
    text-transform: uppercase;
}
.auction_items .item_dits h2{
    color:var(--primary);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.auction_items .item_dits h2 b{
    color:#7B7B7B;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.auction_items .item_dits p {
    color: #bbb9b9;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    -webkit-box-orient: vertical;
    align-items: center;

    /* flex-direction: column; */
}
.auction_items .item_dits p.p_h150{
    min-height: 90px;
}
.auction_items .item_dits p svg{
    width: 16px;
    height: 16px;
}
.auction_items  button{
    display: flex;
    width: 100%;
    height: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0px -20px 10px 0px rgba(255, 255, 255, 0.50);
    border-radius: 15px;
    background: var(--primary);
    color:var(--font-color-white) ;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
}
 









.popup{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(140, 17, 27, 0.50);
    justify-content: center;
    align-items: center;
    z-index: 2;
    transform: scale(0%);
    transition: .5s ease-in-out;
}

.see_popup{
    transform: scale(100%);
}
.popup .popitem_auction_room{
    width: 900px;
    height: 590px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 5px;
    align-items: flex-start;
    position: relative;
}


.popup .popitem_auction_room h2{
    display: flex;
    cursor: pointer;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    color: var(--primary, var(--primary));
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    text-transform: capitalize;
    width: fit-content;
}
.popup .popitem_auction_room h2 img{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.popup .popitem_auction_room h1{
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 48px */
    text-transform: capitalize;
}
.popup .popitem_auction_room span{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    color: #7B7B7B;
    text-align: center;
    font-family: Nunito;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 12px */
    text-transform: uppercase;
}
.popup .popitem_auction_room span span{
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.popup .popitem_auction_room span span img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
.popup .popitem_auction_room span span b{
    overflow: hidden;
    color: #7B7B7B;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    text-transform: uppercase;
}

.popup .popitem_auction_room img{
    width: 400px;
    height: 363px;
    border-radius: 10px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
}
.popup .popitem_auction_room img.green{
    border: 5px solid rgb(0, 255, 0);
}
.popup .popitem_auction_room img.red{
    border: 5px solid red;
}
.popup .popitem_auction_room img.yellow{
    border: 5px solid yellow;
}
.product_details .popitem_auction_room img{
    height: 323px;
}
.popup .popitem_auction_room h3{
    color: #000;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
    text-transform: uppercase;
}
.popup .popitem_auction_room p svg{
    width: 18px;
    height: 18px;
}
.popup .popitem_auction_room p{
    color: #bbb9b9;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    -webkit-box-orient: vertical;
    align-items: center;
    width: 430px;
    flex-shrink: 0;
    /* flex-direction: column; */
}
.popup .popitem_auction_room p.min_h110{
    min-height: 110px;
}
.popup .popitem_auction_room nav{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.popup .popitem_auction_room nav button{
    background-color: transparent;
    color: var(--gray, #D9D9D9);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
    text-transform: capitalize;
    cursor: pointer;
}
.popup .popitem_auction_room nav button.active{
    color: #000;
    font-family: Nunito;
    font-size: 14px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
    text-transform: capitalize;
    cursor: pointer;
}
.popup .popitem_auction_room .info{
    display: flex;
    width: 430px;
    height: 220px;
    overflow: scroll;
    flex-shrink: 0;
    padding-right: 15px;
    padding-left: 7px;
}
.popup .popitem_auction_room .info ul{
    width: 100%;
    display: flex;
    height: fit-content;
    gap: 10px;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}
.popup .popitem_auction_room .info ul p{
    max-width: 100%;
    color: var(--light-gray, #A7A7A7);
}
.popup .popitem_auction_room .info ul p:last-child{
    max-width: 100%;
    color:#000;
}
.popup .popitem_auction_room .info::-webkit-scrollbar{
    width: 3px;
    
}
.popup .popitem_auction_room .info::-webkit-scrollbar-thumb{
    background-color: #7B7B7B;
    border-radius: 1000px;
}
.popup .popitem_auction_room .info::-webkit-scrollbar-thumb:hover{
    background-color: var(--primary);
}
.popup .popitem_auction_room .info ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup .popitem_auction_room .info ul li h4{
    color: var(--light-gray, #A7A7A7);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
    text-transform: capitalize;
}
.popup .popitem_auction_room .info ul li h5{
    color:#000;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
    text-transform: capitalize;
}
.popup .popitem_auction_room  .auction_box{
    display: flex;
    flex-direction: column;
    display: flex;
    width: 430px;
    padding: 22px 10px 10px 10px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 13.598px;
    border-radius: 5px;
    background: var(--gray, #D9D9D9);
    justify-content: space-between;
    color: #000;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
}

.pop_al{
    position: absolute;
    top: 1vw;
    left: 1vw;
    background-color: #fff;
    max-width: calc(100% - 2vw);
}
.popup .popitem_auction_room  .auction_box input{
    display: flex;
    width: 100%;
    height: 37.073px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 5px;
    border-radius: 5px;
    border: 1.25px solid #D9E3E8;
    background: #FFF;
    color: #A3A3A3;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.auction_box button{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--primary, var(--primary));
    color:var(--font-color-white) ;
    text-align: center;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    text-transform: capitalize;
    width: 200px;
}


.popup .popitem_auction_room .auction_box.auction_box_chart{
   display: flex;
   flex-direction: row;
   padding: 5px;
}
.popup .popitem_auction_room .auction_box.auction_box_chart input{
    width: 70%;
    background-color: transparent;
}
.popup .popitem_auction_room .auction_box.auction_box_chart button{
    width: 29%;
    height: 100%;
    cursor: pointer;
}


.winners{
    display: flex;
    gap: 20px;
    align-self: center;
    justify-self: center;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: fit-content;
}


.winners .winners_items{
    width: 320px;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.winners .winners_items img{
    width: 100%;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
}

.winners .winners_items .dit{
    width: 100%;
    position: relative;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
}

.winners .winners_items .dit img{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 80px;
    border: 4px solid #FFF;
    position: absolute;
    top: -40%;
    box-shadow: 0px 2px 2px 0px rgba(84, 84, 84, 0.55);
}
.winners .winners_items .dit h1{
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.winners .winners_items .dit h2{
    color: var(--primary);
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.winners .winners_items .dit h3{
    color: #9C9C9C;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 3px;
    text-align: center;
}
.winners .winners_items .dit h3 b{
    color: #000;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: normal;
}
.winners .winners_items .dit h5{
    color: #9C9C9C;
    font-family: Nunito;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.winners .winners_items .dit ul{
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 8px;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.winners .winners_items .dit ul li.me{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.winners .winners_items .dit ul li{
    width: 80%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.winners .winners_items .dit ul li.me h1{
    color: var(--primary);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.winners .winners_items .dit ul li.me h2{
    color: var(--primary);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.winners .winners_items .dit ul li h1{
    color: #7B7B7B;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.winners .winners_items .dit ul li h2{
    color: #7B7B7B;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.winners .winners_items  .proceed {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    gap: 10px;
    flex-shrink: 0;
    flex-direction: column;
    border-radius: 15px 15px 0px 0px;
}
.winners .winners_items  .proceed h1{
    color:rgba(56, 193, 115, 0.80);
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

 .proceed button{
    background-color: var(--primary, var(--primary));
    text-align: center;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    display: inline-flex;
    width: 100%;
    cursor: pointer;
    height: 50px;
    border-radius: 0px 0px 3px 3px;
    color: #fff;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 20px 20px 0px 0px;
}


.popup .popup_for_clear_payment{
    width: 320px;
    height: fit-content;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color:var(--font-color-white) ;
    align-self: center;
}

.popup .popup_for_clear_payment h2 img{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}
.popup .popup_for_clear_payment h1{
    color: var(--primary, var(--primary));
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
    text-transform: capitalize;
}
.popup .popup_for_clear_payment .chat{
    width: 100%;
    height: 400px;
    overflow: auto;
    padding-right: 4px;
}

.popup .popup_for_clear_payment .chat::-webkit-scrollbar{
    width: 3px;
}
.popup .popup_for_clear_payment .chat::-webkit-scrollbar{
    background-color: #7B7B7B;
    border-radius: 20000px;
}
.popup .popup_for_clear_payment .chat::-webkit-scrollbar:hover{
    background-color: var(--primary);
}
.popup .popup_for_clear_payment ul{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.popup .popup_for_clear_payment ul li {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    max-width: 80%;
}
.popup .popup_for_clear_payment ul li img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.popup .popup_for_clear_payment ul li h3{
    display: flex;
    max-width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 10px;
    background: var(--gray, #D9D9D9);
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
}
.popup .popup_for_clear_payment ul li.me {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
    gap: 5px;
    max-width: 80%;
    
}
.popup .popup_for_clear_payment ul li.me img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.popup .popup_for_clear_payment ul li.me h3 {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
    border-radius: 10px 0px;
    background: var(--light-gray, #A7A7A7);
}
.popup .popup_for_clear_payment label {
    display: inline-flex;
    height: 50px;
    width: 100%;
    align-self: center;
    padding: 2px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--primary, var(--primary));
}
.popup .popup_for_clear_payment label input {
    width: 100%;
    display: flex;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
    padding: 5px;
    height: 100%;
}
.popup .popup_for_clear_payment label img {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: center;
}


   /* shope section starts  */

   section.slidable{
    height: calc(100vh - 50px);
    overflow-y: auto;
   }
   .content{
    width: 100%;
    height: fit-content;
   }
   
   .acount_info{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: 30px; /* Adjust the gap between items as needed */
   }

   .acount_info .info{
    width: 100%;
    height: 250px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 3px 3px 20px 1px rgba(140, 17, 27, 0.27);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   }
   .acount_info .info span{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
   }
   .acount_info .info span h1{
    color: var(--primary, var(--primary));
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
   }
   .acount_info .info span a{
    display: inline-flex;
    height: 41px;
    padding: 0px 24px 0px 25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--primary, var(--primary));
    color:var(--font-color-white) ;
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px; /* 0% */
    text-transform: capitalize;
   }
   .acount_info .info h1{
    color: #000;
    font-family: Nunito;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: 55px; /* 91.667% */
    text-transform: capitalize;
    display: flex;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to show */
    -webkit-box-orient: vertical;
    align-items: center;
   }
   .acount_info .info h1 b{
    color: var(--light-gray, #A7A7A7);
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 55px;
    text-transform: capitalize;
   }
   .acount_info .info div{
      width: 120px;
      height: 80px;
      display: flex;
      justify-content: space-between;
      padding: 10px 5px;
      flex-direction: column;
      border-radius: 5px;
      background: #FFF;
      box-shadow: 0px 0px 20px 0.5px rgba(0, 0, 0, 0.13);
   }
   .acount_info .info div h1{
    color: var(--light-gray, #A7A7A7);
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    
   }
   .acount_info .info div p{ 
    color: #000;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to show */
    -webkit-box-orient: vertical;
    align-items: center;
   }
   .acount_info .info div p b{
    color: var(--gray, #D9D9D9);
    font-family: Nunito;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
   }
   .acount_info .info span{}


   .content_body .carosell .for_products{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
   }
   .content_body .carosell .for_products span{
    display: flex;
    gap: 10px;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
   }

   a.back{
    align-items: center;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: var(--primary, var(--primary));
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    text-transform: capitalize;
    width: fit-content;
   }
   
   .content_body .carosell .for_products a{
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color:var(--font-color-white) ;
    font-family: Nunito;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--primary, var(--primary));
   }


   .product_listing{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
   }
   .product_listing .top_nav{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin: 0;
   }
   .product_listing .top_nav li{
    color: var(--light-gray, #A7A7A7);
    font-family: Nunito;
    cursor: pointer;
    width: 100px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
    display: flex;
    gap: 3px;
    align-items: center;
   }
   .product_listing .top_nav li svg{
    stroke: var(--light-gray, #A7A7A7);
    display: flex;
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
   }
   .product_listing .top_nav li.active{
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
   }
   .product_listing .top_nav li.active svg{
    stroke: #000;
    display: flex;
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
   }

   .product_scroll{
    display: flex;
    min-height: 400px;
    max-height: 400px;
    overflow-x: auto;
    position: relative;
    padding-bottom: 20px;
   }
   .product_listing .products{
    width: 100%;
    display: flex;
    min-width: fit-content;
    gap: 40px;
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding-right: 10px;
   }
   .product_listing .products li:first-child,
   .product_listing .products .other_items{
    display: flex;
    width: 100%;
    min-width: fit-content;
    justify-content: space-between;
    align-items: center;
   }
   .product_listing .products li:first-child span:nth-child(1),
   .product_listing .products .other_items span:nth-child(1){
    display: flex;
    width: 250px;
    height: 24px;
    justify-content: left;
    align-items: flex-start;
    text-align: right;
    flex-shrink: 0;
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
    gap: 5px;
   }

   .product_listing .products .other_items span:nth-child(1) img{
    width: 50px;
    height: 50px;
    border-radius: 3.5px;
    object-fit: cover;
    object-position: center;
   }
   .product_listing .products li:first-child span:nth-child(2),
   .product_listing .products .other_items span:nth-child(2){
    display: flex;
    width: 150px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
   }
    .product_listing .products li:first-child span:nth-child(3),
   .product_listing .products .other_items span:nth-child(3){
    display: flex;
    width: 150px;
    height: 24px;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
    text-align: right;
   }
   .product_listing .products li:first-child span:nth-child(4),
   .product_listing .products .other_items span:nth-child(4){
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   }
   


   .add_product{
    width: 100%;
    height: fit-content;
    
   }

   .masonry-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
  }


  

  .add_product .masonry-item {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    width: 95%;
    align-self: center;
    box-sizing: content-box;
    /* min-width: 100%; */
    height: fit-content;
    min-width: 550px;
    flex-shrink: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.add_product .masonry-item h1{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    text-transform: capitalize; 
}
.add_product .masonry-item h1 b{
    color: #F00;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: capitalize;
}
.add_product .masonry-item div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add_product .masonry-item div p{
    color: var(--light-gray, #A7A7A7);
    font-family: Poppins;
    font-size: 13px;
    width: 100%;
    max-width: 400px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 19.5px */
    text-transform: capitalize; 
}
.add_product .masonry-item div input{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    width: 100%;
    min-width: 230px;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    text-transform: capitalize;
}
.add_product section div input::placeholder{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    text-transform: capitalize;
}

.add_product .masonry-item div.radio{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add_product .masonry-item div.radio label{
    display: flex;
    width: 100%;
    min-width: 230px;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    color: var(--light-gray, #A7A7A7);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    text-transform: capitalize;
    cursor: pointer;
}
.add_product .masonry-item div.radio input{
    display:none;
}
.add_product .masonry-item div.radio input:hover + label,
.add_product .masonry-item div.radio input:checked + label{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    text-transform: capitalize;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.add_product section:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}
.add_product section:nth-child(2) div{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.add_product section:nth-child(2) div div{
    display: flex;
    width: 100%;
    max-width: none;
    min-width: 0px;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    flex-direction: column;
}
.add_product section:nth-child(2) div div span{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.add_product section:nth-child(2) div div span h2{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
    width: 100%;
}
.add_product section:nth-child(2) div div span input{
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    border-left: 1px solid #000;
    background: #FFF;
}
.add_product section:nth-child(2) div div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    color: #04560C;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid #04560C;
    cursor: pointer;
}
.add_product section:nth-child(2) div div.wrap{
    background-color: transparent;
    box-shadow: none;
    gap: 10px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}
.add_product section:nth-child(2) div div.wrap h1{
    width: fit-content;
    min-width: 150px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--gray, #D9D9D9);
}
.add_product section:nth-child(2) div div.wrap h1 b{
    font-family: Poppins;
    font-size: 13px;
    color: var(--light-gray, #A7A7A7);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 19.5px */
    text-transform: capitalize;
}
.add_product section:nth-child(2) div div.wrap p{
    border-left: 1px solid gray;
    padding-left: 5px;
    color: #000;
}
.add_product section:nth-child(2) div div.wrap {}
.add_product .masonry-item div textarea{
    display: flex;
    width: 100%;
    height: 178px;
    min-width: 230px;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    text-transform: capitalize;
}
.add_product .masonry-item div textarea::placeholder{
    color: #000;
}
.add_product .masonry-item div span{
    display: flex;
    width: 100%;
    gap: 5%;
}
.add_product .masonry-item div span input{
    width: 45%;
    min-width: none;
}

.add_product button{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 0; /* 30px */
    text-transform: capitalize; 
    display: flex;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--primary);
    cursor: pointer;
    color:var(--font-color-white) ;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0px -20px 10px 0px rgba(255, 255, 255, 0.50);
}
.add_product section{}



  .product_details .popitem_auction_room{
    width: 100%;
    border-radius: 0;
    min-height: 100%;
  }
.popup .popitem_auction_room .info ul.charting li{
    color: #000;
    font-family: Nunito;
    font-size: 14px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: capitalize;
    background-color: #ededed;
    padding: 5px;
    border-radius: 0px 10px 10px 10px;
    width: fit-content;
    max-width: 70%;
}
.popup .popitem_auction_room .info ul.charting li.me{
    color: #ededed;
    font-family: Nunito;
    font-size: 14px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: capitalize;
    background-color: var(--primary);
    padding: 5px;
    border-radius:10px 0px 10px 10px;
    width: fit-content;
    align-self: flex-end;
    max-width: 70%;
}






.cash_out{
    width: 100%;
    height: calc(100vh - 130px);
    overflow: auto;
    position: relative;
}

.cash_out .cash_out_body{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.cash_out .cash_out_body .elements{
    width: 100%;
    min-width: 600px;
    display: flex;
    background-color: #fcfafa;
    padding: 10px 15px;
    min-height: 80px;
    align-items: center;
    border: 2px solid #bbb9b9;
    border-left: 15px solid #bbb9b9;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}
.flex_it{
    width: 100%;
    display: flex;
    min-height:60px;
    align-items: center;
    justify-content: space-between;
}
.cash_out .cash_out_body .elements.approved{
    border: 2px solid rgb(0, 255, 0);
    border-left: 15px solid rgb(0, 255, 0);
}
.cash_out .cash_out_body .elements.decliened{
    border: 2px solid red;
    border-left: 15px solid red;
}
.cash_out .cash_out_body .elements h1 {
    color: #000000;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    text-transform: capitalize;
}
.cash_out .cash_out_body .elements h1 b{
    color: #888;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    text-transform: capitalize;
}
.cash_out .cash_out_body .elements span{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
    justify-content: space-between;
    align-self: flex-start;
}
.cash_out .cash_out_body .elements span div{
    display: flex;
    gap: 15px;
}
.cash_out .cash_out_body .elements span div button{
    background-color: transparent;
    width: fit-content;
    align-self: flex-end;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    padding: 6px 25px;
    cursor: pointer;
    border-radius: 0px;
    text-transform: capitalize;
}
.cash_out .cash_out_body .elements span div button.approve{
    border: 1px solid rgb(0, 255, 0);
    color:rgb(0, 255, 0) ;
    border-left: 5px solid rgb(0, 255, 0);
}
.cash_out .cash_out_body .elements span div button.decline{
    border: 1px solid red;
    color: red;
    border-left: 5px solid red;
}
.cash_out .cash_out_body .elements span p{
    color: #000000;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    text-transform: capitalize;
}
.cash_out .cash_out_body .elements span .button{
    background-color: transparent;
    width: fit-content;
    align-self: flex-end;
    color: #ffffff;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    background-color: #e4e4e4;
    padding: 6px 25px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: capitalize;
}



.cash_out_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cash_input{
    max-width: 400px;
    width: 100%;
    min-height: 300px;
    background-color: #fcfafa;
    padding: 30px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0px 0px 20px 0px #e4e4e4;
}

.cash_input h1{
    color: var(--primary);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.cash_input .form{
    color: #9c9c9c;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.cash_input .form input{
    color: #000000;
    font-family: Nunito;
    font-size: 14px;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.cash_input .form span{
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    display: flex;
    margin-top: 30px;
}

.cash_input .form span a,
.form  button{
    width: 45%;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    color: #000000;
    font-family: Nunito;
    font-size: 18px;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cash_input .form span a{
    background-color:#cdcdcd ;
}
.form  button{
    background-color:var(--primary) ;
    color: #fff;
}

   @media screen and (max-width : 900px) {
    
    .main_nav{
        position: absolute;
        z-index: 10;
        align-self: center;
        left: 0px;
        width: 99vw;
        max-width: 320px;
       transition: 1s ease-in-out;
       transform: translateX(-100%);
    }
    .main_nav_come_out{
        transform: translateX(0%); 
    }
    .bugger{
        width: 20px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top_bar .id{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 20px;
    }
    .bugger hr{
        width: 100%;
        height: 20%;
        background-color: #0f0f0f;
    }
    .top_remove{
        width: 100%;
        height: 50px;
        background-color: #0f0f0f;
    }
    .profile{
        position: relative;
    }
    .hov_remove_nav{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hov_remove_nav hr{
        width: 5px;
        height: 5px;
        border-radius: 100px;
        background-color: #0f0f0f;
    }
    .hov_remove_nav{
        align-items: center;
        justify-content: center;
    }
    .hov_remove_nav hr:nth-child(1){
        width: 35px;
        position: absolute;
        transform:rotate(-45deg);
        
    }
    .hov_remove_nav hr:nth-child(3){
        width: 35px;
        transform: rotate(45deg);
        position: absolute;
    }



    .popup{
        display: flex;
        overflow: auto;
        align-items: flex-start;
    }


    .popup .popitem_auction_room{
       flex-wrap: nowrap;
       height: fit-content;
       width: 99vw;
       border-radius: 0;
       align-self: top;
    }
  
    .popup .popitem_auction_room img{
       width: 100%;
    }
  
    .popup .popitem_auction_room p{
        width: 100%;
    }
  
    .popup .popitem_auction_room .info{
       width: 100%;
    }
 
    .popup .popitem_auction_room  .auction_box{
    width: 100%;
    }
   
    
    
}



.active_parent_to_button button{
    background-color: #A6A6A6;
    pointer-events: none;
    position: relative; 
 }
 .active_parent_to_button button::after{
     width: 25px;
     height: 25px;
     border-radius: 30px;
     border-top:3px solid #fff;
     position: absolute;
     content: '';
     right: 10%;
     align-self: center;
     cursor: pointer;
     justify-self: center;
     animation:infinite .3s rotate_load ease-in-out;
 }
 .popup .popup_for_clear_payment label.active_parent_to_button img{
    display: none;
}

 @keyframes rotate_load {
     from{
 
     }to{
         transform: rotate(360deg);
     }
 }

.alate_box.error{
    width: 100%;
    height: fit-content;
    min-height: 50px;
    border-radius: 10px;
    border: 2px solid #ee7c83;
    padding: 10px;
    color: red;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    animation: 1s alate_show forwards;
 }
 .alate_box.okay{
    width: 100%;
    height: fit-content;
    min-height: 50px;
    border-radius: 10px;
    border: 2px solid green;
    padding: 10px;
    color: green;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    animation: 1s alate_show forwards;
 }

 @keyframes alate_show {
    from{
        transform: translateX(100%);
    }to{
        transform: translateX(0%);
    }
 }
 .winners .winners_items.hid,
 .product_listing .products .hid,
 .hid_data_stat,
 .hid{
    display: none;
 }
 .carosell_items_cont .hid{
    display: none;
 }
 .hid_data{
    display: none;
 }

 .loading_data{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .loading_data_remove{
    display: none;
 }

 .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: var(--primary);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  






  html,
body {
  font-size: 24px;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.main-container .check-container {
  width: 6.25rem;
  height: 7.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.main-container .check-container .check-background {
  width: 100%;
  height: calc(100% - 1.25rem);
  background: linear-gradient(to bottom right, #5de593, #41d67c);
  box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  transform: scale(0.84);
  border-radius: 50%;
  animation: animateContainer 0.75s ease-out forwards 0.75s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.main-container .check-container .check-background svg {
  width: 65%;
  transform: translateY(0.25rem);
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: animateCheck 0.35s forwards 1.25s ease-out;
}
.main-container .check-container .check-shadow {
  bottom: calc(-15% - 5px);
  left: 0;
  border-radius: 50%;
  background: radial-gradient(closest-side, #49da83, transparent);
  animation: animateShadow 0.75s ease-out forwards 0.75s;
}

@keyframes animateContainer {
  0% {
    opacity: 0;
    transform: scale(0);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  25% {
    opacity: 1;
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  43.75% {
    transform: scale(1.15);
    box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  62.5% {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
  }
  81.25% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
}
@keyframes animateCheck {
  from {
    stroke-dashoffset: 80;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animateShadow {
  0% {
    opacity: 0;
    width: 100%;
    height: 15%;
  }
  25% {
    opacity: 0.25;
  }
  43.75% {
    width: 40%;
    height: 7%;
    opacity: 0.35;
  }
  100% {
    width: 85%;
    height: 15%;
    opacity: 0.25;
  }
}